<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{common :: css}"></th:block>
</head>
<body>
<nav th:replace="~{common :: header}"></nav>
<div class="container">
    <div>Name: <span th:text="${product.id}"></span></div>
    <div>Giá: <span th:text="${product.price}"></span></div>
    <div>Mô tả thêm: <span th:text="${product.note}"></span></div>
    <div>Nhà sản xuất: <span th:text="${product.producer}"></span></div>
</div>
<a class="btn btn-secondary" href="/">Quay lại</a>
<script th:replace="~{common :: js}"></script>
</body>
</html>