<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="${msg}"></p>
<table class="table table-success table-striped">
    <tr>
        <th>STT</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone</th>
        <th>birthday</th>
        <th>Email</th>
    </tr>
    <tr th:each="form, status : ${list}">
        <td th:text="${status.count + list.number * 2}"></td>
        <td th:text="${form.firstName}"></td>
        <td th:text="${form.lastName}"></td>
        <td th:text="${form.phone}"></td>
        <td th:text="${form.birthday}"></td>
        <td th:text="${form.email}"></td>
    </tr>
</table>
<div class="container-fluid">
    <a th:href="@{/list(page=${list.number - 1})}">Trước</a>
    <span th:text="${list.number + 1}"></span>
    /
    <span th:text="${list.totalPages}"></span>
    <a th:href="@{/list(page=${list.number + 1})}">Sau</a>
</div>
</body>
</html>