<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách khách hàng</title>
    <th:block th:replace="~{common :: css}"></th:block>
</head>
<body>
<nav th:replace="~{common :: nav}"></nav>
<a class="btn btn-primary" href="/create">Thêm mới</a>
<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>Mã gia dịch</th>
        <th>Tên khách hàng</th>
        <th>Loại dịch vụ</th>
        <th>Ngày giao dịch</th>
        <th>Đơn giá</th>
        <th>Diện tích</th>
        <th colspan="2">Chức năng</th>
    </tr>
    <tr th:each="tran, loop : ${listTransaction}">
        <td th:text="${loop.count}"></td>
        <td th:text="${tran.id}"></td>
        <td th:text="${tran.customer.nameCustomer}"></td>
        <td th:text="${tran.typeService}"></td>
        <td th:text="${tran.date}"></td>
        <td th:text="${tran.gia}"></td>
        <td th:text="${tran.area}"></td>
        <td>
            <a class="btn btn-warning" th:href="@{/detail(id=${tran.id})}">Chi tiết</a>
        </td>
        <td>
            <button class="btn btn-danger"
                    data-bs-toggle="modal"
                    data-bs-target="#deleteModal"
                    th:onclick=|setIdToFormDelete(${tran.id})|>
                Xóa
            </button>
        </td>
    </tr>
</table>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete confirm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn xóa không?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary" onclick="submitFormDelete()">Xóa</button>
            </div>
        </div>
    </div>
</div>
<form action="/delete" method="post" id="formDelete">
    <input type="hidden" id="idInput" name="id">
</form>
<script>
    function setIdToFormDelete(id) {
        document.getElementById("idInput").value = id;
    }
    function submitFormDelete() {
        document.getElementById("formDelete").submit();
    }
</script>
<script th:replace="~{common :: js}"></script>
</body>
</html>