<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{common :: css}"></th:block>
</head>
<body>
<nav th:replace="~{common :: nav}"></nav>
<div class="container m-3">
    <form action="/employee/saveEmployee" method="post" th:object="${employee}">
        <!-- 2 column grid layout with text inputs for the first and last names -->
        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    <label class="form-label" for="form6Example1">Họ tên</label>
                    <input type="text" id="form6Example1" class="form-control" th:field="*{name}"/>
                </div>
                <p th:errors="*{name}"></p>
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" for="form6Example4">Số CMND</label>
                <input type="text" id="form6Example2" class="form-control" th:field="*{idCard}" />
                <p th:errors="*{idCard}"></p>
            </div>
        </div>

        <div class="form-outline mb-4">
            <label class="form-label" for="form6Example3">Ngày sinh</label>
            <input type="date" id="form6Example3" class="form-control" th:field="*{birthday}" />
        </div>

        <div class="form-outline mb-4">
            <label class="form-label" for="form6Example4">Lương</label>
            <input type="text" id="form6Example4" class="form-control" th:field="*{salary}" />
            <p th:errors="*{idCard}"></p>
        </div>

        <div class="form-outline mb-4">
            <label class="form-label" for="form6Example5">Số điện thoại</label>
            <input type="text" id="form6Example5" class="form-control" th:field="*{phone}" />
            <p th:errors="*{phone}"></p>
        </div>

        <div class="form-outline mb-4">
            <label class="form-label" for="form6Example6">Email</label>
            <input type="email" id="form6Example6" class="form-control" th:field="*{email}" />
            <p th:errors="*{email}"></p>
        </div>

        <div class="form-outline mb-4">
            <label class="form-label" for="form6Example6">Đỉa chỉ</label>
            <input type="text" id="form6Example7" class="form-control" th:field="*{address}" />
            <p th:errors="*{address}"></p>
        </div>

        <div class="form-outline mb-4">
            <label>Trình độ</label>
            <select class="form-select" type="text" th:field="*{employLevel}">
                <option th:each="level : ${levelList}"
                        th:value="${level.idLevel}"
                        th:text="${level.nameLevel}"></option>
            </select>
        </div>
        <div class="form-outline mb-4">
            <label>Vị trí</label>
            <select class="form-select" type="text" th:field="*{employeeDivision}">
                <option th:each="division : ${divisionList}"
                        th:value="${division.idDivision}"
                        th:text="${division.nameDivision}"></option>
            </select>
        </div>
        <div class="form-outline mb-4">
            <label>Bộ Phận</label>
            <select class="form-select" type="text" th:field="*{employeePosition}">
                <option th:each="p : ${positionList}"
                        th:value="${p.idPosition}"
                        th:text="${p.namePosition}"></option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary btn-block mb-4">Lưu</button>
    </form>
</div>
<footer th:replace="~{common :: footer}"></footer>
<script th:replace="~{common :: js}"></script>
</body>
</html>